USE [master]
GO
/****** Object:  Database [PRUEBA_TECNICA_NET]    Script Date: 18/01/2023 5:16:21 p. m. ******/
CREATE DATABASE [PRUEBA_TECNICA_NET]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRUEBA_TECNICA_NET', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PRUEBA_TECNICA_NET.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRUEBA_TECNICA_NET_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PRUEBA_TECNICA_NET_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRUEBA_TECNICA_NET].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRUEBA_TECNICA_NET]
GO
/****** Object:  Table [dbo].[OPERATOR]    Script Date: 18/01/2023 5:16:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPERATOR](
	[IdClient] [int] IDENTITY(1,1) NOT NULL,
	[IdentityCard] [bigint] NULL,
	[NameClient] [char](60) NULL,
	[SurnameClient] [char](60) NULL,
	[DateBirth] [datetime] NULL,
	[Phone1] [numeric](12, 0) NULL,
	[Phone2] [numeric](12, 0) NULL,
	[Email1] [varchar](30) NULL,
	[Email2] [varchar](30) NULL,
	[Address1] [varchar](150) NULL,
	[Address2] [varchar](150) NULL,
	[RegistrationDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdClient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[IdentityCard] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OPERATOR] ADD  DEFAULT (getdate()) FOR [RegistrationDate]
GO
/****** Object:  StoredProcedure [dbo].[usp_register_operator]    Script Date: 18/01/2023 5:16:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--************************ PROCEDIMIENTOS PARA CREAR ************************--
CREATE procedure [dbo].[usp_register_operator](
@IdentityCard bigint,
@NameClient char(60),
@SurnameClient char(60),
@DateBirth datetime,
@Phone1 numeric(12),
@Phone2 numeric(12),
@Email1 varchar(30),
@Email2 varchar(30),
@Address1 varchar(150),
@Address2 varchar(150),
@Respuesta varchar(150) output
)
as
begin 

	Declare @ExistsCard bigint = (SELECT TOP 1 IdentityCard FROM OPERATOR WHERE IdentityCard = @IdentityCard)
	IF(@ExistsCard IS NOT NULL)
	begin
		SET @Respuesta = 'El usuario con documento ' + cast(@IdentityCard as varchar(20)) + ' ya existe'
		return
	end


	insert into OPERATOR(IdentityCard,NameClient,SurnameClient,DateBirth,Phone1,Phone2,Email1,Email2,Address1,Address2)
	values
	(
		@IdentityCard,
		@NameClient,
		@SurnameClient,
		@DateBirth,
		@Phone1,
		@Phone2,
		@Email1,
		@Email2,
		@Address1,
		@Address2
	)
	set @Respuesta = 'Usuario con documento ' + cast(@IdentityCard as varchar(20)) + ' creado con éxito'
	return
end


GO
USE [master]
GO
